{{#if shouldDisplay}}
<section class="custom-container wrap event-banner">
  <div>    
    <div class="event-body-wrapper">
      <h1 class="event-banner-title">Announcements</h1>
      <div class="withSwitch">
        <div class="event-body-container">
          <a class="event-img-wrapper" href="#">
            <img src="https://goodtogrowproducts.com/wp-content/uploads/2022/01/Grow-Your-Food-Business-e1641532722839.png" alt="" class="event-img">
          </a>
          <div class="event-content-container">
            <h2>{{html-safe (theme-i18n "announcement.title1")}}</h2>
            <p>{{html-safe (theme-i18n "announcement.content1")}}</p>
            <a class="cta-text" href={{html-safe (theme-i18n "announcement.link1")}}><b class="nav-link">Learn more</b></a>
          </div>
        </div>
        {% comment %} <div class="event-body-container">
          <a class="event-img-wrapper" href="#">
            <img src="https://goodtogrowproducts.com/wp-content/uploads/2022/01/Grow-Your-Food-Business-e1641532722839.png" alt="" class="event-img">
          </a>
          <div class="event-content-container">
            <h2>{{html-safe (theme-i18n "announcement.title1")}}</h2>
            <p>{{html-safe (theme-i18n "announcement.content1")}}</p>
            <a class="cta-text" href={{html-safe (theme-i18n "announcement.link1")}}><b class="nav-link">Learn more</b></a>
          </div>
        </div>
        <div class="event-body-container">
          <a class="event-img-wrapper" href="#">
            <img src="https://goodtogrowproducts.com/wp-content/uploads/2022/01/Grow-Your-Food-Business-e1641532722839.png" alt="" class="event-img">
          </a>
          <div class="event-content-container">
            <h2>{{html-safe (theme-i18n "announcement.title1")}}</h2>
            <p>{{html-safe (theme-i18n "announcement.content1")}}</p>
            <a class="cta-text" href={{html-safe (theme-i18n "announcement.link1")}}><b class="nav-link">Learn more</b></a>
          </div>
        </div> {% endcomment %}
      </div>
      <ul class="dots">
        <li class="dot-wrapper d1"></li>
        <li class="dot-wrapper d2"></li>
        <li class="dot-wrapper d3"></li>
        <li class="dot-wrapper d4"></li>
        <li class="dot-wrapper d5"></li>
      </ul>
    </div>
  </div>    
</section>
{{/if}}