{{#if shouldDisplay}}
<section class="custom-container wrap event-banner">
  <h1 class="event-banner-title">Announcements</h1>
  <button class="carousel-btn carousel-btn-left">&#x2190;</button>
  <div class="carousel-track-container">
    <ul class="carousel-track">
      {{#if announcement.img1}}
      <li class="carousel-slide currentSlide">
        <div class="event-body-wrapper">
          <div class="event-body-container">
            <a class="event-img-wrapper" href="#">
              <img src={{html-safe (theme-i18n "announcement.img3")}} alt="" class="event-img">
            </a>
            <div class="event-content-container">
              <h2>{{html-safe (theme-i18n "announcement.title3")}}</h2>
              <p>{{html-safe (theme-i18n "announcement.content3")}}</p>
              <a class="cta-text" href={{html-safe (theme-i18n "announcement.link3")}}><b class="nav-link">Learn more</b></a>
            </div>
          </div>
        </div>
      </li>
      {{/if}}
      {{#if announcement.img2}}
      <li class="carousel-slide currentSlide">
        <div class="event-body-wrapper">
          <div class="event-body-container">
            <a class="event-img-wrapper" href="#">
              <img src={{html-safe (theme-i18n "announcement.img2")}} alt="" class="event-img">
            </a>
            <div class="event-content-container">
              <h2>{{html-safe (theme-i18n "announcement.title2")}}</h2>
              <p>{{html-safe (theme-i18n "announcement.content2")}}</p>
              <a class="cta-text" href={{html-safe (theme-i18n "announcement.link2")}}><b class="nav-link">Learn more</b></a>
            </div>
          </div>
        </div>
      </li>
      {{/if}}
      {{#if announcement.img3}}
      <li class="carousel-slide currentSlide">
        <div class="event-body-wrapper">
          <div class="event-body-container">
            <a class="event-img-wrapper" href="#">
              <img src={{html-safe (theme-i18n "announcement.img3")}} alt="" class="event-img">
            </a>
            <div class="event-content-container">
              <h2>{{html-safe (theme-i18n "announcement.title3")}}</h2>
              <p>{{html-safe (theme-i18n "announcement.content3")}}</p>
              <a class="cta-text" href={{html-safe (theme-i18n "announcement.link3")}}><b class="nav-link">Learn more</b></a>
            </div>
          </div>
        </div>
      </li>
      {{/if}}
    </ul>
  </div> 
  <button class="carousel-btn carousel-btn-right">&#x2192;</button>
  <ul class="dots">
    <li class="dot-wrapper currentDot d1"></li>
    <li class="dot-wrapper d2"></li>
    <li class="dot-wrapper d3"></li>
  </ul>
</section>
{{/if}}