{{#if shouldDisplay}}
<section class="custom-container wrap event-banner">
  <h1 class="event-banner-title">Announcements</h1>
  <button class="carousel-btn carousel-btn-left">&#x2190;</button>
  <div class="carousel-track-container">
    <ul class="carousel-track">

      <li class="carousel-slide currentSlide">
        <div class="event-body-wrapper">
          <div class="event-body-container">
            <a class="event-img-wrapper" href={{html-safe (theme-i18n "announcement.link1")}}>
              <div id="img1" class="event-img">
              </div>
            </a>
            <div class="event-content-container">
              <h2>{{html-safe (theme-i18n "announcement.title1")}}</h2>
              <p>{{html-safe (theme-i18n "announcement.content1")}}</p>
              <a class="cta-text" href={{html-safe (theme-i18n "announcement.link1")}}><b class="nav-link">Learn more</b></a>
            </div>
          </div>
        </div>
      </li>

      <li class="carousel-slide currentSlide">
        <div class="event-body-wrapper">
          <div class="event-body-container">
            <a class="event-img-wrapper" href={{html-safe (theme-i18n "announcement.link2")}}>
              <div id="img2" class="event-img">
              </div>
            </a>
            <div class="event-content-container">
              <h2>{{html-safe (theme-i18n "announcement.title2")}}</h2>
              <p>{{html-safe (theme-i18n "announcement.content2")}}</p>
              <a class="cta-text" href={{html-safe (theme-i18n "announcement.link2")}}><b class="nav-link">Learn more</b></a>
            </div>
          </div>
        </div>
      </li>

      <li class="carousel-slide currentSlide">
        <div class="event-body-wrapper">
          <div class="event-body-container">
            <a class="event-img-wrapper" href={{html-safe (theme-i18n "announcement.link3")}}>
              <div id="img3" class="event-img">
              </div>
            </a>
            <div class="event-content-container">
              <h2>{{html-safe (theme-i18n "announcement.title3")}}</h2>
              <p>{{html-safe (theme-i18n "announcement.content3")}}</p>
              <a class="cta-text" href={{html-safe (theme-i18n "announcement.link3")}}><b class="nav-link">Learn more</b></a>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div> 
  <button class="carousel-btn carousel-btn-right">&#x2192;</button>
  <ul class="dots">
    <li class="dot-wrapper currentDot d1"></li>
    <li class="dot-wrapper d2"></li>
    <li class="dot-wrapper d3"></li>
  </ul>
</section>
{{/if}}